{% extends 'flask_user_layout.html' %}

{% block content %}
  <h1>Welcome to this project!</h1>
  <ul>
    <li>Registration is under <pre>{{ url_for('user.register') }}</pre></li>
    <li>Authentication is under <pre>{{ url_for('user.login') }}</pre></li>
    <li>Sign out is under <pre>{{ url_for('user.logout') }}</pre></li>
    <li>Start quiz under <pre>{{ url_for('quizzes.choose_quiz_difficulty') }}</pre></li>
    <li>See ranking under <pre>{{ url_for('quizzes.ranking') }}</pre></li>
    <li>API ranking under <pre>{{ url_for('quizzes.ranking_json') }}</pre></li>
  </ul>
{% endblock %}